{% extends 'base.html' %}

{% block title %}
    Register
{% endblock title %}

{% block content %}
    <main class="auth-container">
        <form class="auth-form" method="post">
            {% csrf_token %}
 
            <h1>Create Account</h1>
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Full Name</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn-primary">Register</button>
            <p class="auth-link">
                Already have an account? <a href="{% url 'users:login' %}">Login here</a>
            </p>
        </form>
    </main>
{% endblock %}
