{% extends "base.html" %}

{% block title %}
    Item Detail
{% endblock title %}

{% block content %}
    <main class="auth-container">
        <div class="auth-form">
            <h1>Delete Item</h1>
            <div class="delete-item-content">
                <img src="{{ item.image_url }}"
                     alt="{{ item.name }}"
                     class="delete-preview">
                <h2>{{ item.name }}</h2>
                <p>Are you sure you want to delete this item? This action cannot be undone.</p>
                <div class="button-group">
                    <a href="{% url 'menu:menu_item_detail' item.id %}"
                       class="btn-secondary">Cancel</a>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-danger">Delete Item</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
